<div>
    <ul>
        <li><a href="/con_rep">联系维修人员</a></li>
        <li><a href="/con_adm">联系管理员</a></li>
        <li><a href="/intro">网站简介</a></li>
        <li><a class="active" href="/">主页</a></li>
        <li style="float: left">
            <img src="/images/favicon.ico" , alt="宿舍图标">
        </li>
    </ul>
</div>
