<div name = "mydiv" id="mydiv" style="background-color: #444;color: white; width: 100%; position: fixed;
    bottom: 0;">
    <hr>
    <h4 style="text-align:center;">
        假期宿舍管理系统
    </h4>
</div>
