<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>假期宿舍管理系统</title>

    <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
{{>header}}
<body>

    <div id="con_adm_bg"></div>

    <div class="con_adm_title">
        <h1>宿舍管理员联系方式</h1>
    </div>

    <div class="con_adm_info">
        <div>
            <div>
                <h3>管理员信息</h3>
                <div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="adminId"></div><br/>&nbsp&nbsp学工号：10000</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="name" style="margin-top: -13.8vw; margin-left: -1.8vw;"></div><br/>&nbsp&nbsp姓名：蔡徐坤</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="phoneNumber" style="margin-top: -4.7vw; margin-left: -20.4vw;"></div><br/>&nbsp&nbsp联系电话：13042937833</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="buildingId" style="margin-top: -7.6vw; margin-left: -16.7vw;"></div><br/>&nbsp&nbsp所属宿舍楼：1</div>
                </div>
                <div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="adminId"></div><br/>&nbsp&nbsp学工号：10001</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="name" style="margin-top: -13.8vw; margin-left: -1.8vw;"></div><br/>&nbsp&nbsp姓名：蔡英文</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="phoneNumber" style="margin-top: -4.7vw; margin-left: -20.4vw;"></div><br/>&nbsp&nbsp联系电话：13042982323</div>
                    <div><div><img src="/images/con_adm_icon.jpg" alt="buildingId" style="margin-top: -7.6vw; margin-left: -16.7vw;"></div><br/>&nbsp&nbsp所属宿舍楼：2</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>