<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/form.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/admin-lte/2.4.8/css/AdminLTE.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <style type="text/css">
        body {
            padding-top: 1px;
            padding-left: 1px;
            padding-right: 1px;
            background-color:#D3D3D3;
        }
    </style>
</head>

<body>

{{{body}}}

</body>
{{> footer }}
{{name}}
</html>


